@font-face {
    font-family: One Piece;
    src: url("/fonts/one\ piece\ font.ttf");
}
.one-piece {
    font-family: One Piece;
    font-weight: bold;
    font-size: 7.0rem;
    margin: 0;
    padding: 0;
    color: #4A97D1;
}
body {
    background-color: #f8f8f8;
    font-family: 'Quattrocento Sans', sans-serif;
    position: relative;
}